.react-color-picker-content{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    background:rgba(0,0,0,.6)
}
.react-color-picker-header{
    margin: auto 5vw;
    height: 16vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.react-color-picker-header div{
    width:40%;
    height: 10vw;
    line-height: 10vw;
    border-radius:5vw;
}
.react-color-picker-header-cancel{
    color:#fff;
    background:dodgerblue
}
.react-color-picker-header-select{
    color:#fff;
    background:dodgerblue
}

.react-color-list-level-one{
    position: relative;
    margin: 20px 0;
    display: flex;
    height: 5vw;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right,#ff0000,#ffff00,#00ff00,#00ffff,#0000ff,#ff00ff);

}
.react-color-list-level-one-slider,.react-color-list-level-two-slider,.react-color-list-level-three-slider{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5vw;
    height: 8vw;
    box-sizing: border-box;
    /* border:2px dotted #fff; */
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0,0,0,.6);
}

.react-color-list-level-two,.react-color-list-level-three{
    position: relative;
    margin: 20px 0;
    display: flex;
    height: 5vw;
    align-items: center;
    justify-content: center;
}